/*algemeen*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif; 
	background: linear-gradient(to right, #8c47e0 , #6b32ef);
}

a {
	text-decoration: none;
	color: black;
	transition: all .2s ease-in-out;
	position: relative;
	z-index: 10; /*zorgt er voor dat elementen niet over andere elementen zichtbaar zijn tijdens transitie*/
}

a:focus, a:hover, button:hover, button:focus {
	transform: scale(1.1); 
	position: relative;
	z-index: 10;
}

nav a:hover, nav a:focus {
	transform: scale(1.3); 
}


:focus { 
 	outline: none;/*Alle elementen die geselecteerd kunnen worden hebben al een transform. Qua design vind ik het daarom mooier om geen outline te hebben.*/
 }

button {
	transition: all .2s ease-in-out;
}

/*navigatie*/
header {
	
	z-index: 20;
	position: -webkit-sticky; 
    position: sticky;
 	top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;/*zorgt er voor dat je door header heen kan klikken*/
}

nav h1 {
	display: none;
}

nav ul {
	display: flex;
	display: relative;
	list-style-type: none;
	text-decoration: none;
	padding-left: 0;
	pointer-events: auto;/*zorgt er voor dat je op de nav li elementen kan klikken*/
}

nav ul li {
	padding-right: 1em;
	padding-top: 1em;
}

nav > ul > li ul {
	display: none;
	position: absolute;
	text-indent: 0;
}


nav li a {
	border: solid;
	border-width: 0.1em;
	border-color: #ffffffCC;
	height: 5em;
	width: 5em;
	display: flex;			
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: linear-gradient(to right, #7e25c6CC, #4a24c6CC);
	color: white;
	font-size: 0.85em;
}

 li:focus-within ul, li:hover ul {
	display: block;
}

/*extending clickable area nav sub menu*/
nav a {
	position: relative;
}

nav > ul > li > ul a::before {
	content: "";
	position: absolute;
	
	top: -5px;
	bottom: -5px;
	right: -20px;
	left: -20px;
}

nav > ul > li > a::before {
	content: "";
	position: absolute;
	
	top: -20px;
	bottom: -20px;
	right: -5px;
	left: -5px;
}
                                         
/*grid artikels*/

main {
	padding: 10% 10% 15% 10%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: minmax(250px, 1fr);
	grid-gap: 2.5em;
	position: relative;
	overflow: hidden;
}

/*schuine rand onder*/
main:after {
	content: "";
	position: absolute;
	width: 180%;
	height: 18em;
	transform: rotate(-2.5deg);
	z-index: 0;
	bottom: -10rem;
	box-shadow: inset -10px 0px 50px 1px rgba(0,0,0,0.7);
	margin-left: -10rem;
	margin-right: -10rem;
	background-color: white;
}

/*header recent articles*/

body > h1 {
	color: white;
	font-size: 3em;
	padding-top: %;
	padding-left: 10%;
	margin-bottom: -5%;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/*artikels*/

main article {
	padding: 5%;
	height: 100%;
	border-radius: 1em;
	background: white;
	position: relative;
	z-index: 10; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}


article > img {
	border-radius: 5%;
	height: 250px;
	object-fit: contain;
}

article > h1 {
	font-size: 1.5em;
	flex: 1;
}

article > p {
	flex: 1;
}

article {
	box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.4);
	border-radius: 1em;
}


/*rating*/

fieldset {
	border: none;
	text-align: center;
	margin-bottom: -1em;
	margin-left: -1em;
}

fieldset svg {
	width: 2em;
	cursor: pointer;
}

fieldset input {
	opacity: 0;

}

fieldset legend {
	display: none;
	text-align: center;
}

fieldset input:focus + label svg {
	transition: all .2s ease-in-out;
	transform: scale(1.8); 
}


 /*login & chat sectie*/
section {
	padding: 5% 10% 5% 10%;
 	display: grid;
 	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: minmax(250px, 1fr);
	grid-gap: 3em;
	position: relative;
	z-index: 5;
	background-color: white;
}

	/*login*/
section > article > form {
	display: flex;
	flex-direction: column;
	padding: 5%;
	margin: 0;
	justify-content: center;
	background: linear-gradient(to right, #4a24c6, #7e25c6 , #4a24c6);
	position: relative;
	height:100%;
	border-radius: 1em;
}

article > form input {
	background: linear-gradient(to right, #4a24c6, #7e25c6 , #4a24c6);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: center;
	color: white;
	font-size: 1.2em;
	opacity: 0.5;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
	border-width: 0.15em;
	border-color: white;
}

form > a {
	text-align: center;
	text-decoration: underline;
}

form > input:hover, form > input:focus {
	opacity: 1;
}

::placeholder {
	color: white;
}

section > article > form button {
	width: 40%;
	margin: 5% auto;
	color: #4a24c6;
	background: white;
	padding: 0.8em ;
	line-height: 0;
	font-size: 1em;
	box-shadow: -2px 3px 7px 0px rgba(0,0,0,0.2);
	border: none;
	border-radius: 0.5em;
}

article > form > label {
	font-size: 0.85em;
	color: #ffffff80;
}

article > form span {
	display: flex;
	flex-direction: row;
	color: white;
	margin: 0 auto;
	text-decoration: underline;
}

 article > form a {
	color: white;
}

input[type="checkbox"] + label::before { 
	content: '\a0'; 
	display: inline-block; 
	vertical-align: .2em;
	width: 1em;
	height: 1em; 
	margin-right: .5em; 
	margin-bottom: 0.5em;
	border-radius: .2em; 
	background: silver; 
	text-indent: .15em; 
	line-height: .65;
}

input[type="checkbox"]:checked + label::before {
	content: '👍';
	border-radius: 1em;
	border: solid;
	border-width: 0.1em;
	border-color: limegreen;
	background: white;
	

	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
}

input[type="checkbox"] { 
	opacity: 0;
	margin-left: -1em;
}


/*chat*/

section > article > section {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	justify-content: center;
	position: relative;
	border-radius: 1em;
	text-align: center;

	background: #6600cc;
	background-image:
	    linear-gradient(90deg, #5900b3 11px, transparent 0),
	    linear-gradient(90deg, #7300e6 23px, transparent 0),
	    linear-gradient(90deg, #5900b3 41px, transparent 0);
		background-size: 41px 100%, 61px 100%, 83px 100%;
}

section > form {
	display: flex;
	flex-direction: row;
}

section > form > label {
	display: none;
}

section > form button, textarea {
	width: 100%;
	height: 5em;	
	background: grey;
	border-radius: 0;
	border-color: white;
}

section > form > button {
	width: 30%;
	border-radius: 0 0 1em 0;
	background-color: green;
	color: white;
}

section > form > textarea {
	border-radius: 0 0 0 1em;
	background-color: white;
	resize: none;

}

section > ol {
	list-style: none;
}

section > ol p{
	color: white;
	list-style: none;
	padding-right: 5%;
}


section > article > section > ol li:nth-child(even) {
	text-align: right;
}

section > article > section > ol li:nth-child(odd) {
	text-align: left;
}

section footer p {
	opacity: 0.5;
	font-size: 0.7em;
}

section article {
	position: relative;
	z-index: 0;
}


/*loading spinner*/

figure {
	height: 7em;
	width: 7em;
	max-width: 7em;
	max-height: 7em;

	border: solid;
	border-width: 0.3em;
	border-color: silver;
	border-top-color: white;
	border-radius: 50%;
	position: absolute;
	background-color:#ffffff33;
	

	right: 0;
	left: 0;
	margin: auto;
	
}

figure {
	animation: round 1s linear infinite;

}

section> article > section h1 {
	right: 0;
	left: 0;
	margin: auto;
	color: white;
	position: absolute;
}

@keyframes round {
	from{transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}

/*finish purchase*/

body > footer {
	padding: 10%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body > footer:after {
	content: "";
	position: absolute;
	width: 250%;
	height: 18em;
	background-color: white;
	transform: rotate(-2.5deg);
	top: -10rem;
	box-shadow: inset -30px -30px 55px -30px rgba(0,0,0,0.7);
}

footer > article {
	position: relative;
	margin-top: 20%;
	border-radius: 1em;
	box-shadow: none;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

footer > article > span {
	width: 300px;
	height: 300px;
	box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.4);
	background: white;
	border-radius: 1em 0 0 1em;
}

footer > article > footer {
	width: 300px;
	height: 300px;
	background: linear-gradient(to right, #7e25c6, #4a24c6);
	padding: 5%;
	box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 0 1em 1em 0;
}

footer > article li {
	color: black;
}

article > span > img {
	height: 100%;
	width: 100%;
	padding: 20%;
}

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 1.5em;
	border-radius: 0 0 1em 0;
}

progress::-webkit-progress-value { 
	background: linear-gradient(to right, #8c47e0 , #6b32ef); 
	border-radius: 0 1em 1em 0;
}
progress::-webkit-progress-bar { 
	border-radius: 0 0 1em 0;
	background: white;
}
	
footer > h1 {
	margin-top: 4em;
	margin-bottom: -10%;
	color: white;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	font-size: 3em;
}

article > footer > ol {

	position: relative;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: -0.5em;
	margin-left: -0.2em;
	list-style: none;
	padding-right: 5%;
}

article > footer > ol > li {
	color: black;
	padding: 0 0.5em 0 0.5em;
	margin-bottom: -0.35em;
	font-weight: lighter;
	font-size: 0.9em;
}

article > footer > ol > li:nth-child(1) {
	color: white;
}

article > footer > img {
	margin-top: ;
	height: 75%;
	width: 75%;
	padding: 5%;
}

footer > button {
    color: #4a24c6;
	background: white;
	padding: 1.2em ;
	line-height: 0;
	font-size: 1em;
	box-shadow: -2px 3px 7px 0px rgba(0,0,0,0.2);
	border: none;
	border-radius: 0.5em;
}

/*media querries*/

@media screen and (max-width: 749px) {

	footer > article > footer {
	border-radius: 0 0 1em 1em;
	}

	footer > article > span {
	border-radius: 1em 1em 0 0;
	}

	progress::-webkit-progress-bar { 
	border-radius: 0 0 1em 1em;
	}

	progress::-webkit-progress-value { 
	border-radius: 0 1em 1em 1em;
	}

	main {
		padding-bottom: 15em;
	}

	main article h1 {
		font-size: 1.5em;
	}

	a:focus, a:hover, button:hover, button:focus {
	transform: scale(1); 
	}
}







